@import "tailwindcss";
html {
  scroll-behavior: smooth;
}

/* 3D helpers */
.perspective {
  perspective: 1200px;
}

.transform-style {
  transform-style: preserve-3d;
}
 

/* Grid lines background effect */
.bg-grid-lines {
  background-color: #f5f7f6; /* light background similar to blog */
  background-image:
    linear-gradient(rgba(128, 128, 128, 0.1) 1px, transparent 1px),
    linear-gradient(90deg, rgba(128, 128, 128, 0.1) 1px, transparent 1px);
  background-size: 40px 40px; /* spacing between grid lines */
}

.perspective-container {
  perspective: 1400px;
  -webkit-perspective: 1400px;
}

@font-face {
  font-family: "Bezmiar";
  src: url("./assets/fonts/Bezmiar.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@theme {
  --font-bezmiar: "Bezmiar", sans-serif;
}
 
 
/* external styles  */
.bg-radial-gradient-custom {
  background-image:
    radial-gradient(
      circle at 20% 50%,
      rgba(47, 94, 75, 0.08) 0%,
      transparent 50%
    ),
    radial-gradient(
      circle at 80% 20%,
      rgba(127, 174, 141, 0.06) 0%,
      transparent 40%
    );
}

/* .fancy-button */
.fancy-button {
  position: relative;
  padding: 10px 20px;
  border-radius: 7px;
  border: 1px solid rgb(3, 99, 38);
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
  background: transparent;
  color: #fff;
  overflow: hidden;
  box-shadow: 0 0 0 0 transparent;
  transition: all 0.2s ease-in;
}

.fancy-button:hover {
  background: rgb(8, 99, 38);
  box-shadow: 0 0 30px 5px rgba(39, 105, 50, 0.815);
  transition: all 0.2s ease-out;
}

.fancy-button:hover::before {
  animation: sh02 0.5s 0s linear;
}

.fancy-button::before {
  content: "";
  display: block;
  width: 0px;
  height: 86%;
  position: absolute;
  top: 7%;
  left: 0%;
  opacity: 0;
  background: #fff;
  box-shadow: 0 0 50px 30px #fff;
  transform: skewX(-20deg);
}

@keyframes sh02 {
  from {
    opacity: 0;
    left: 0%;
  }

  50% {
    opacity: 1;
  }

  to {
    opacity: 0;
    left: 100%;
  }
}

.fancy-button:active {
  box-shadow: 0 0 0 0 transparent;
  transition: box-shadow 0.2s ease-in;
}

/* View Button UI */
.view-button {
  padding: 17px 40px;
  border-radius: 50px;
  cursor: pointer;
  border: 0;
  background-color: white;
  box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  font-size: 15px;
  transition: all 0.5s ease;
}

.view-button:hover {
  letter-spacing: 3px;
  background-color: #2F5E4B  ;
  color: hsl(0, 0%, 100%);
  box-shadow: rgba(51, 51, 54, 0.815) 0px 7px 29px 0px;
}

.view-button:active {
  letter-spacing: 3px;
  background-color: hsl(261deg 80% 48%);
  color: hsl(0, 0%, 100%);
  box-shadow: rgb(93 24 220) 0px 0px 0px 0px;
  transform: translateY(10px);
  transition: 100ms;
}
